#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calc-container {
  width: 500px;
  margin-left: 100px;
  align-items: center;
}

.calc-display {
  font-size: 50px;
  height: 150px;
  width: 400px;
}

.shift-right {
  /* margin-left: 30px; */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
